@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
.backdrop_image{
    margin-top: 40px;
    position: relative;
    width: 100vw;
    height: 80vh;
    filter: sepia(90%) ;
    filter: brightness(2.8);
    filter: contrast(1.2);
    filter: opacity(0.15);
    overflow: hidden;
    object-fit:cover;

}
#overlay{
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 80vh;
    top: 0;
    margin-top: 40px;

}


#overview_container{
   position: absolute;
   top: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;

}
#overview_container .poster_image_container .poster_image{
  width: 250px;
  height: 350px;
  margin-right: 100px;
  border-radius: 20px;
  margin-left: 20px;
}
h1.overview_title_name{
    font-size: 40px;
    font-family: Anton;
    letter-spacing: 0.2rem;
}
h1.overview_text{
    font-family: cursive;
    font-size: 25px;
}
.overview_description{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;

}

@media (max-width: 950px){
    #overview_container .poster_image_container .poster_image{
        width: 150px;
        height: 200px;

      }
}