@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

#trending_movies_container_{
  width: 90vw;
  display: flex;
  margin-top:15px ;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: 30px;
  
}
#trending_movies_container_::-webkit-scrollbar{
  width: 0px;
}
.trending_movies{

     max-height: 100px; /* Set the maximum height of the parent container */
     margin-top: 10px;
     font-family: Sevillana;


}
.trending_movies h1{
  font-weight: 600;
  font-size: 35px;
  margin-left: 40px;
}
@media   (max-width:472px){
  #trending_movies_container_{
  display: flex;
  margin-top:15px ;
  margin-left: -5px;

  }
  #main_container{
margin-bottom: 10px;
}
.trending_movies{
margin-top: 115px;

}
.trending_movies h1{
  margin-left: 80px;
}
}